{% extends 'base_layout.html' %}
{% block content %}
<br>
<h1 class="title">Signup Form</h1>
<form action="/accounts/signup/" method="POST" id="signup">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username"> 
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email"> 
      </div>
      
      <div class="form-group">
          <label for="password1">Password:</label>
          <input type="password" class="form-control" id="password1" name="password1"> 
        </div>
      <div class="form-group">
          <label for="password2">Confirm Password:</label>
          <input type="password" class="form-control" id="password2" name="password2"> 
        </div>
    <br>
      <input type="submit" id="submit" value="signup" class="btn btn-primary">
</form>

<script>
  $( "#submit" ).click(function(e) {
        e.preventDefault();
        var data={};
        data.username=$('input[name=username]').val();
        data.email=$('input[name=email]').val();
        data.password=$('input[name=password1]').val();
        data.password2=$('input[name=password2]').val();
        data.csrfmiddlewaretoken=$('input[name=csrfmiddlewaretoken]').val();
        $.ajax({
             type:'POST',
             url:'http://localhost:8000/api/user/',
             dataType: "json",
             data:data,
             success:function(data){
              window.location.replace("http://localhost:8000")
             },
            });
});

</script>
{% endblock %}